<form>
  <mat-form-field>
    <input
      placeholder="Type Here"
      type="text"
      matInput
      [matAutocomplete]="autoGroup"
      #autocompleteOrigin
    />
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-option *ngFor="let fruit of fruits">
        {{ fruit }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<p>Here for test purposes</p>
<p>Here for test purposes</p>
<p>Here for test purposes</p>
<p>Here for test purposes</p>
<p>Here for test purposes</p>
<p>Here for test purposes</p>
<p>Here for test purposes</p>
