<div class="text-center text-sm text-gray-400 footer-content">
  <div class="pt-3">
    <nav class="w-80 mx-auto mb-1">
      <a
        routerLink="/accueil"
        routerLinkActive="active-link"
        class="hover:underline mx-2"
        >Accueil</a
      >
      |
      <a
        routerLink="/legal"
        routerLinkActive="active-link"
        class="hover:underline mx-2"
      >
        Mentions légales
      </a>
      |
      <a
        href="#"
        matTooltip="Coming Soon"
        matTooltipPosition="above"
        class="hover:underline mx-2"
        >Aide</a
      >
    </nav>
    <span class="pb-1">&copy; 2023 Star Flotilla, Tous droits réservés.</span>
    <p class="text-xs">Alpha 0.3.5</p>
  </div>
</div>
