<!-- Change when adding getData()  -->
<div *ngIf="ships">
  <form [formGroup]="shipForm">
    <div class="sm:flex text-center sm:text-left">
      <mat-form-field [style.width.px]="280">
        <mat-label>Nouveau vaisseau à ajouter:&nbsp;</mat-label>
        <input
          type="text"
          matInput
          formControlName="shipInput"
          placeholder="Ex: Aurora MR"
          [matAutocomplete]="autoGroup"
          (submit)="handleShipAdd()"
          (input)="onInput()"
          #autocompleteOrigin
        />
        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup
            *ngFor="let brand of filteredBrands"
            [label]="brand.key"
          >
            <mat-option *ngFor="let name of brand.value" [value]="name">
              {{ name }}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
      <button class="sm:ml-2" type="button" (click)="handleShipAdd()">
        Ajouter
      </button>
    </div>
  </form>
</div>

<app-my-fleet
  [userId]="userId"
  [isAdmin]="isAdmin"
  [reloadShipsDisplay]="reloadShipsDisplay"
  [ships]="fleet"
  [fleetEmpty]="fleetEmpty"
  [orgId]="orgId"
  (getFleetData)="emit()"
></app-my-fleet>
