<!-- Change when adding getData()  -->
<h2 class="px-4 flex justify-center sm:justify-start">
  Recherche de vaisseaux
</h2>
<hr class="my-2" />
<div *ngIf="ships" class="sm:px-4">
  <form [formGroup]="shipForm">
    <div class="sm:flex text-center sm:text-left">
      <mat-form-field [style.width.px]="260">
        <mat-label>Nouveau vaisseau à ajouter</mat-label>
        <input
          type="text"
          matInput
          formControlName="shipInput"
          placeholder="Ex: Aurora MR"
          [matAutocomplete]="autoGroup"
          (submit)="toggleShipAddPopup()"
          (input)="onInput()"
          #autocompleteOrigin
        />
        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup
            *ngFor="let brand of filteredBrands"
            [label]="brand.key"
          >
            <mat-option *ngFor="let name of brand.value" [value]="name">
              {{ name }}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
      <button class="sm:ml-2 mt-2" type="button" (click)="toggleShipAddPopup()">
        Ajouter
      </button>
    </div>
  </form>
</div>

<app-my-fleet
  [userId]="userId"
  [isAdmin]="isAdmin"
  [reloadShipsDisplay]="reloadShipsDisplay"
  [ships]="fleet"
  [fleetEmpty]="fleetEmpty"
  [orgId]="orgId"
  (getFleetData)="emit()"
></app-my-fleet>

<app-ship-add-popup
  class="z-30 relative"
  *ngIf="showShipAddPopup && shipToPass && fleet"
  [shipToHandle]="shipToPass"
  [fleet]="fleet"
  [username]="username"
  [userId]="userId"
  (cancelShipAdd)="cancelAdd()"
  (reloadShipDisplay)="nextReloadShipList()"
></app-ship-add-popup>
