<div class="background"></div>
<div class="popup">
  <img src="{{ bannerUrl }}" alt="{{ shipToHandle.name }}" width="100%" />
  <div>
    <img
      class="production-status"
      *ngIf="shipToHandle.production_status === 'flight-ready'"
      src="../../../../assets/images/flyready.png"
      alt="Flight Ready"
      width="40"
    />
    <img
      class="production-status"
      *ngIf="shipToHandle.production_status !== 'flight-ready'"
      src="../../../../assets/images/flyreadynot.png"
      alt="Not Flight Ready"
      width="40"
    />
  </div>
  <div
    class="text-sm sm:text-lg w-full text-teal-100 pt-2 sm:pt-4 px-2 md:px-16"
  >
    <p>{{ shipToHandle.name }}</p>
    <div class="flex flex-wrap w-full">
      <p class="w-full md:w-1/2 xl:w-1/3">
        <label for="obtentionSelect">Mode d'acquisition*:&nbsp;</label>
        <br />
        <select
          name="obt"
          id="obtentionSelect"
          title="Obtention"
          [(ngModel)]="obtentionMethod"
          (change)="getObtention()"
        >
          <option value="default">- - -</option>
          <option value="pledge">Pledge</option>
          <option
            *ngIf="shipToHandle.production_status === 'flight-ready'"
            value="In game"
          >
            Achat Ig
          </option>
          <option
            *ngIf="shipToHandle.production_status === 'flight-ready'"
            value="loaner"
          >
            Loaner
          </option>
          <option
            *ngIf="shipToHandle.production_status === 'flight-ready'"
            value="subscription"
          >
            Abonnement
          </option>
          <option
            *ngIf="shipToHandle.production_status === 'flight-ready'"
            value="rental"
          >
            Location
          </option>
          <option value="referral">Referral</option>
        </select>
      </p>
      <p class="w-full md:w-1/2 lg:w-1/3">
        <label for="nicknameInput">Nom du vaisseau:&nbsp;</label>
        <br />
        <input
          type="text"
          id="nicknameInput"
          placeholder="Ex: Rocinante"
          [(ngModel)]="nickname"
        />
      </p>
    </div>
  </div>
  <div class="buttons py-2 px-2 md:px-16">
    <p *ngIf="isLoaner" class="text-xs sm:text-lg text-teal-100">
      <label for="loanerSelect"> Accordé par le vaisseau*:&nbsp; </label>
      <br />
      <select
        name="loanerSelect"
        id="loanerSelect"
        title="Sélection loaner"
        class="text-sm sm:text-lg"
        [(ngModel)]="loanerFor"
        (change)="onLoanerSelectChange()"
      >
        <option value="broken_ship">Autre vaisseau</option>
        <option *ngFor="let ship of canBeLoanerFor">
          {{ ship.name }}
          {{ (ship.nickname ? " - " + ship.nickname : null) | titlecase }}
        </option>
      </select>
    </p>
    <p *ngIf="isLoaner" class="text-xs italic text-teal-100">
      Tu dois ajouter à ton hangar le vaisseau qui t'accorde ce loaner avant.
    </p>
    <p
      *ngIf="!fieldsAreValid && !serverErrorOcurred"
      class="italic text-red-300 mt-6 md:mt-12"
    >
      Veuillez remplir tous les champs obligatoires
    </p>
    <p *ngIf="serverErrorOcurred" class="italic text-red-300 mt-6 md:mt-12">
      Une erreur côté serveur est survenue, veillez réessayez plus tard ou
      contactez l'assistance si le problème persiste.
    </p>

    <div class="flex mt-2 md:mt-4">
      <div
        *ngIf="isFetching"
        class="spinner-container flex justify-center items-center mr-2"
      >
        <div class="loading-spinner"></div>
      </div>
      <button
        *ngIf="!isFetching"
        class="text-sm sm:text-lg text-green-300 mr-2"
        (click)="handleAddButton()"
      >
        Ajouter
      </button>
      <button class="text-sm sm:text-lg text-red-300" (click)="cancel()">
        Annuler
      </button>
    </div>
  </div>
  <p class="text-xs italic px-2 sm:px-16 pb-0 md:pb-6">*Obligatoire</p>
</div>
