<div>
  <h2 className="text-2xl font-semibold sm:text-4xl sm:font-bold my-8">
    Legal Notice
  </h2>
  <p>
    Website ownership: <br />
    <a
      className="underline"
      title="LinkedIn link"
      href="https://www.linkedin.com/in/telmo-d-643b2120b/"
    >
      Telmo SOUSA
    </a>

    <br />
    Website hosting: <br />
    <a
      className="underline"
      title="PlanetHoster link"
      href="https://www.planethoster.com/fr/"
    >
      The website is hosted by PlanetHoster
    </a>
    <br />
    <br />
    Use of the
    <a href="https://starcitizen-api.com/">StarCitizen API</a> :<br />
    This website uses the
    <a href="https://starcitizen-api.com/">StarCitizen API</a> to retrieve data
    related to ships or various community elements such as organizations and
    their members <br />

    <br />
    <br />
    Intellectual Property: <br />
    All content on this website, including text, images, logos, and videos, is
    the property of
    <a href="https://cloudimperiumgames.com/">Cloud Imperium Games</a>,
    <a href="https://star-flotilla.com/"> Star Flotilla </a>, or their
    respective owners. Any unauthorized reproduction, distribution, or use of
    the content is strictly prohibited.<br />
    <br />
    Protection of Personal Data: This website does not collect any personal data
    that identifies you directly.
    <br />
    <br />
    Cookies: <br />
    This website uses cookies to enhance the user experience and provide
    customized features. You can manage cookie preferences through your browser
    settings.
  </p>
</div>
