<div>
  <h2 class="text-2xl font-semibold sm:text-4xl sm:font-bold my-8">
    Legal Notice
  </h2>
  <p>
    Website ownership: <br />
    <a
      class="underline hover:italic"
      title="LinkedIn link"
      href="https://www.linkedin.com/in/telmo-s-643b2120b/"
    >
      Telmo SOUSA
    </a>
    <br />
    <br />
    Mail address: <br />
    contact@star-flotilla.com
    <br />
    <br />
    Website hosting: <br />
    The website is hosted by
    <a
      class="underline hover:italic"
      title="PlanetHoster link"
      href="https://www.planethoster.com/fr/"
    >
      PlanetHoster
    </a>
    <br />
    <br />
    Use of the
    <a class="underline hover:italic" href="https://starcitizen-api.com/"
      >StarCitizen API</a
    >
    :<br />
    This website uses the
    <a class="underline hover:italic" href="https://starcitizen-api.com/"
      >StarCitizen API</a
    >
    to retrieve data related to ships or various community elements such as
    organizations and their members.

    <br />
    <br />
    Intellectual Property: <br />
    All content on this website, including text, images, logos, and videos, is
    the property of
    <a class="underline hover:italic" href="https://cloudimperiumgames.com/"
      >Cloud Imperium Games</a
    >,
    <a class="underline hover:italic" href="https://star-flotilla.com/">
      Star Flotilla </a
    >, or their respective owners. Any unauthorized reproduction, distribution,
    or use of the content is strictly prohibited.<br />
    <br />
    Protection of Personal Data: <br />
    This website does not collect any personal data that identifies you
    directly.
    <br />
    <br />
    Cookies: <br />
    This website uses cookies to enhance the user experience and provide
    customized features. You can manage cookie preferences through your browser
    settings.
    <br />
    <br />
    For more information, you can contact me at the email address mentioned
    above.
  </p>
</div>
