<div *ngIf="fleetEmpty">
  <p class="text-base text-center sm:text-left px-4">
    Aucun vaisseau à afficher pour l'instant, utilisez la barre de recherche au
    dessus pour en ajouter!
  </p>
</div>

<div
  *ngIf="!fleetEmpty"
  class="search-container flex justify-between flex-wrap sm:flex-nowrap px-4"
>
  <div class="input-container sm:mr-2">
    <input
      [(ngModel)]="sortByNameValue"
      class="px-2"
      type="text"
      placeholder="Rechercher un vaisseau"
      (input)="sortShipsByName()"
    />
    <button>
      <mat-icon class="search">search</mat-icon>
    </button>
  </div>
  <div
    class="selects-container flex items-center justify-end flex-wrap sm:flex-nowrap w-full lg:w-1/2"
  >
    <select
      [(ngModel)]="sortByObtMethodValue"
      class="mt-0.5 px-2"
      title="Trier par méthode d'obtention"
      name="sortByObtMethod"
      id="sortByObtMethod"
      (change)="sortShipsByObtentionMethod()"
    >
      <option value="hidden" selected hidden>Acquisition:</option>
      <option value="default">Tout afficher</option>
      <option value="pledge">Pledge</option>
      <option value="In game">Achat in game</option>
      <option value="loaners">Loaners</option>
      <option value="rental">Location</option>
      <option value="subscription">Abonnement</option>
      <option value="referral">Referral</option>
    </select>
    <select
      [(ngModel)]="sortByManufacturerValue"
      class="mt-0.5 px-2 mx-2"
      title="Trier"
      name="sortByManufacturer"
      id="sortByManufacturer"
      (change)="sortShipsByBrand()"
    >
      <option value="hidden" selected hidden>Manufacturier:</option>
      <option value="default">Tout afficher</option>
      <option *ngFor="let brand of brands" value="{{ brand }}">
        {{ brand | titlecase }}
      </option>
    </select>
    <select
      [(ngModel)]="sortByOrderValue"
      class="mt-0.5 px-2 mr-9"
      title="Trier"
      name="sortByOrder"
      id="sortByOrder"
      (change)="fuseSortedShipTables()"
    >
      <option value="hidden" selected hidden>Trier par:</option>
      <option value="default">Tout afficher</option>
      <option value="scuAsc">SCU croissant</option>
      <option value="scuDsc">SCU décroissant</option>
      <option value="crewAsc">Crew croissant</option>
      <option value="crewDsc">Crew décroissant</option>
    </select>
    <button class="reset" (click)="resetFilters()">
      <mat-icon>autorenew</mat-icon>
    </button>
  </div>
</div>
