<div *ngIf="fleetEmpty">
  <p class="text-base text-center sm:text-left px-4">
    Aucun vaisseau à afficher pour l'instant, utilisez la barre de recherche au
    dessus pour en ajouter!
  </p>
</div>

<div *ngIf="!fleetEmpty" class="flex justify-between px-4">
  <div class="input-container mr-2">
    <input
      [(ngModel)]="sortByNameValue"
      class="search px-2"
      type="text"
      placeholder="Rechercher un vaisseau"
    />
    <button class="search">
      <!-- (click)="sortShipsByObtentionMethod(sortBySelectValue, shipToSortName)" -->
      <mat-icon class="search">search</mat-icon>
    </button>
  </div>
  <div>
    <select
      [(ngModel)]="sortByOrderValue"
      class="search mt-0.5 px-2 mx-2"
      title="Trier par ordre"
      name="sortByOrder"
      id="sortByOrder"
    >
      <option value="default" selected hidden>Choisissez une option</option>
      <option value="scuUP">SCU croissant</option>
      <option value="scuDown">SCU décroissant</option>
      <option value="crewUp">Crew croissant</option>
      <option value="crewDown">Crew décroissant</option>
      <option value="flightReady">Disponible</option>
      <option value="notFlightReady">Indisponible</option>
    </select>
    <select
      [(ngModel)]="sortByObtMethodValue"
      class="search mt-0.5 px-2"
      title="Trier par méthode d'obtention"
      name="sortByObtMethod"
      id="sortByObtMethod"
    >
      <!-- (change)="sortShipsByObtentionMethod(sortBySelectValue, shipToSortName)" -->
      <option value="default">Tout afficher</option>
      <option value="pledge">Pledge</option>
      <option value="igBuy">Achat in game</option>
      <option value="loaners">Loaners</option>
      <option value="rentals">Location</option>
      <option value="subscription">Abonnement</option>
      <option value="referral">Referral</option>
    </select>
  </div>
</div>
