<div *ngIf="verifyPassword">
  <button (click)="disconnect()">Déconnexion</button>
</div>

<!-- Shows password change form if it's the first connection -->
<ng-container *ngIf="verifyPassword; else elseShowData">
  <app-change-password
    [userId]="userId"
    (passwordVerifiedEvent)="handlePasswordVerified($event)"
  ></app-change-password>
</ng-container>

<!-- Shows data if it isn't the first connection -->
<ng-template #elseShowData>
  <div *ngIf="showData">
    <h2>
      Bienvenue dans votre espace personnel {{ username }} sinon se déconnecter:
      <button (click)="disconnect()">Déconnexion</button>
    </h2>

    <!-- Shows admin panel -->
    <ng-container *ngIf="isAdmin">
      <app-admin-panel
        [userId]="userId"
        (showShipsChange)="onShowShipsChange($event)"
      ></app-admin-panel>
    </ng-container>

    <!-- Shows the ships component, ON by default -->
    <div *ngIf="showShips">
      <app-search-ships [userId]="userId"></app-search-ships>
    </div>
  </div>
</ng-template>
