<app-sub-navbar
  [isAdmin]="isAdmin"
  [username]="username"
  [currentView]="currentView"
></app-sub-navbar>

<div
  *ngIf="!showData && !verifyPassword"
  class="w-full flex items-center justify-center mt-4 md:mt-8"
>
  <div class="loading-spinner"></div>
</div>

<!-- Shows password change form if it's the first connection -->
<ng-container *ngIf="verifyPassword; else elseShowData">
  <app-change-password
    [userId]="userId"
    (passwordVerifiedEvent)="handlePasswordVerified($event)"
  ></app-change-password>
</ng-container>

<!-- Shows data if it isn't the first connection -->
<ng-template #elseShowData>
  <div *ngIf="showData">
    <h2>Bienvenue dans ton hangar {{ username }} !</h2>
    <!-- <ng-container *ngIf="isAdmin"> -->
    <app-admin-panel
      *ngIf="
        isAdmin &&
        (currentView === 'organization' ||
          currentView === 'members' ||
          currentView === 'overview')
      "
      [userId]="userId"
      [fleet]="fleet"
      [ships]="ships"
      (showShipsChange)="onShowShipsChange($event)"
      [organizationId]="organizationId"
    ></app-admin-panel>
    <!-- </ng-container> -->

    <div *ngIf="showShips">
      <div
        *ngIf="
          (isFetchingShipsData || isFetchingUsersFleet) &&
          !ships &&
          currentView === 'ships'
        "
        class="w-full flex items-center justify-center mt-4 md:mt-8"
      >
        <div class="loading-spinner"></div>
      </div>
      <div *ngIf="!isFetchingShipsData && !ships">
        <h2 class="text-red-500 italic">
          Impossible de récupérer la liste des vaisseaux du jeu, réessayez plus
          tard.
        </h2>
      </div>
      <div *ngIf="!isFetchingUsersFleet && !fleet">
        <h2 class="text-red-500 italic">
          Impossible de récupérer la liste de vos vaisseaux, réessayez plus tard
          ou contactez le support si le problème persiste.
        </h2>
      </div>
      <!-- Shows the ships component, ON by default -->
      <div
        *ngIf="
          showShips &&
          ships &&
          fleet &&
          currentView !== 'members' &&
          currentView !== 'organization'
        "
      >
        <app-search-ships
          [ships]="ships"
          [userId]="userId"
          [username]="username"
          [currentView]="currentView"
          [isAdmin]="isAdmin"
          [fleet]="fleet"
          [fleetEmpty]="fleetEmpty"
          [orgId]="organizationId"
          (getFleetData)="getFleetData()"
        ></app-search-ships>
      </div>
    </div>
  </div>
</ng-template>
