<div *ngIf="show">
  <app-display-ships-filter-bar
    [ships]="ships"
    (actualizedShips)="actualizeShips($event)"
  ></app-display-ships-filter-bar>

  <mat-accordion>
    <ul class="flex flex-wrap lg:flex-no-wrap scroll-smooth focus:scroll-auto">
      <li *ngFor="let ship of sortedShips" class="w-full lg:w-1/2 p-4">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="relative">
            <!-- Background image -->
            <div
              class="absolute inset-0 bg-cover bg-center bg-black"
              style="background-image: url('{{ ship.imageUrl }}');"
            ></div>

            <div class="blurImage flex flex-col justify-end">
              <div class="header-content content-center">
                <div>
                  <h3 class="ml-4 mb-0 pt-4">
                    {{ ship.name }}
                  </h3>
                  <p class="text-teal-200 pl-4 nickname">
                    {{
                      ship.nickname && ship.nickname !== ""
                        ? ship.nickname
                        : null
                    }}
                  </p>
                </div>
                <div class="panel-header-footer flex">
                  <div class="focus w-11/12">
                    <p class="flex flex-wrap sm:inline">
                      <span class="text-teal-200 ml-4 type">{{
                        ship.focus
                      }}</span>
                      <span
                        class="text-teal-100 text-sm mb-0 mx-4 pl-2 sm:mb-4 manufacturer"
                        >{{ ship.manufacturer }}</span
                      >
                    </p>
                  </div>
                  <div class="images w-1/12 justify-end">
                    <img
                      class="justify-end z-20"
                      *ngIf="ship.production_status === 'flight-ready'"
                      src="../../../../assets/images/flyready.png"
                      alt="Flight Ready"
                      width="30"
                      matTooltip="Ce vaisseau est disponible en jeu!"
                      matTooltipPosition="left"
                    />
                    <img
                      class="justify-end z-20"
                      *ngIf="ship.production_status !== 'flight-ready'"
                      src="../../../../assets/images/flyreadynot.png"
                      alt="Not Flight Ready"
                      width="30"
                      matTooltip="Ce vaisseau n'est pas disponible en jeu pour le moment."
                      matTooltipPosition="left"
                    />
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel-header>

          <!-- Information container -->
          <p lang="en" class="text-xs italic p-2">
            <span *ngIf="ship.description" lang="en"
              >"{{ ship.description }}"</span
            >
          </p>
          <div class="flex flex-wrap w-full mx-4 mb-4">
            <!-- General informations -->
            <div class="w-full sm:w-2/5">
              <p>
                Role:
                <span class="text-teal-100">{{ ship.type | titlecase }}</span>
              </p>
              <p>
                Size:
                <span class="text-teal-100">{{ ship.size | titlecase }}</span>
              </p>
              <p>
                Max crew: <span class="text-teal-100">{{ ship.max_crew }}</span>
              </p>
              <p>
                Max SCU:
                <span class="text-teal-100">{{ ship.cargo_capacity }}</span>
              </p>
            </div>
            <!-- Buy/loaners and links information -->
            <div class="w-full sm:w-3/5">
              <p class="noMargin">
                Mode d'acquisition:
                <span class="text-teal-100">{{
                  ship.obtention_method | titlecase
                }}</span>
              </p>
              <p class="noMargin" *ngIf="ship.loaner_for">
                Accordé par le vaisseau:
                <span class="text-teal-100">{{ ship.loaner_for }}</span>
              </p>
              <div class="mt-3">
                <a
                  class="hover:underline"
                  href="{{ ship.url }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Voir dans le magasin</a
                >
                <br />
                <a
                  class="hover:underline"
                  href="https://starcitizen.tools/{{ ship.name }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Visiter le wiki
                </a>
              </div>
            </div>
          </div>

          <!-- Actions container -->
          <div
            class="actions flex flex-wrap md:flex-nowrap justify-between items-centr"
          >
            <div class="changeName">
              <div *ngIf="shipToChange !== ship.id">
                <button
                  title="Edit"
                  class="normal"
                  (click)="handleEdit($event, ship.id)"
                  aria-label="Edit the ships name"
                >
                  Éditer le nom
                </button>
              </div>
              <div *ngIf="shipToChange === ship.id">
                <input
                  [(ngModel)]="shipNameChanges[ship.id]"
                  title="Nouveau nom"
                  placeholder="Nommez votre vaisseau!"
                  class="pl-1 sm:pl-2 mr-1 sm:mr-2"
                />
                <button
                  title="Valider"
                  class="icon mr-1 sm:mr-2"
                  type="submit"
                  (click)="handleCheck(ship.id)"
                  aria-label="Validate the ships name change"
                >
                  <mat-icon>check</mat-icon>
                </button>
                <button
                  title="Cancel"
                  class="icon"
                  type="button"
                  (click)="handleCancel()"
                  aria-label="Cancel the ship name change"
                >
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </div>
            <button
              title="Supprimer"
              class="normal"
              (click)="toggleShipRemovePopup(ship.id, ship.name)"
            >
              Supprimer
            </button>
          </div>
        </mat-expansion-panel>
        <mat-progress-bar
          *ngIf="shipToRemove === ship.id"
          mode="indeterminate"
        ></mat-progress-bar>
      </li>
    </ul>
  </mat-accordion>
</div>

<app-confirm-delete
  class="relative z-30"
  *ngIf="showConfirmRemove"
  [shipName]="shipToRemoveName"
  (removingValidated)="handleShipRemove($event)"
></app-confirm-delete>
