h2 {
  margin-top: 20px;
  font-size: 2.5em;
  color: #b1fffb;
  text-shadow: 0 0 7px #b1fffb, 0 0 21px #b1fffb, 0 0 82px #3ec9e1, 0 0 102px #3ec9e1;
  margin-bottom: 0;
  // border-bottom: solid #b1fffb 2px;
}

h3 {
  font-size: 1.6em;
  color: #b1fffb;
  text-shadow: 0 0 7px rgba(177, 255, 251, 0.6), 0 0 19px rgba(177, 255, 251, 0.6), 0 0 75px rgba(62, 200, 225, 0.6), 0 0 92px rgba(62, 200, 225, 0.6);
  margin-bottom: 0;
  margin-left: 16px;
  margin-top: auto;
}

p.nickname {
  height: 21px;
  margin-bottom: 40px;
}

div.focus {
  position: absolute;
  left: 0;
  bottom: 0;
}

img {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

button.normal {
  border: solid #adc8d3 1px;
  width: 105px;
  height: 30px;
  color: #adc8d3;
  border-radius: 4px;
}

button.normal:hover {
  background-color: rgba(1, 37, 57, 1);
}

input {
  width: 160px;
  height: 30px;
  background-color: rgba(1, 80,126,0.5);
  border: solid #adc8d3 1px;
  border-radius: 2px;
  margin-bottom: 4px;
}

::placeholder {
  font-size: 12px;
}

.manufacturer {
  display: inline-block;
  // width: 200px;
  border-left: solid rgb(118, 170, 170) 2px;
  border-bottom: solid rgb(118, 170, 170) 1px;
  padding-left: 10px;
  padding-bottom: 2px;
}

.blurImage {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  // z-index: 5;
  padding: 0;
  left: 0;
  top: 0;
}

.header-content {
  height: calc(auto + 21px);
  background-color: rgba(0, 0, 0, 0.2);
}



mat-expansion-panel-header {
  min-height: 200px;
}

mat-expansion-panel {
  background-color: rgba(2,59,92,0.8);
  border: solid black 1px;
  color: #adc8d3;
}

.actions {
  border-top: solid rgb(104, 104, 104) 1px;
  // border-top: solid #adc8d3 1px;
  // display: inline-block
  padding: 8px;
}

@media screen and (max-width: 660px) {
  .header-content {
    height: 100%;
  }

  .type {
    width: 100%;
  }

  mat-expansion-panel, mat-expansion-panel-header {
    min-height: 150px;
  }

  img {
    position: absolute;
    right: 8px;
    bottom: 8px;
  }

  input {
    width: 140px;
  }
}
