<form (ngSubmit)="handleMemberAdd()">
  <label for="id_input">Nom de l'utilisateur à ajouter:&nbsp;</label>
  <input
    type="text"
    name="username"
    placeholder="Nom d'utilisateur"
    [(ngModel)]="username"
  />
  <label for="id_input">Le rôle à attribuer:&nbsp;</label>
  <input
    type="text"
    name="role"
    placeholder="ROLE_CITIZEN par défaut"
    [(ngModel)]="role"
  />
  <button type="submit">Ajouter</button>
</form>
<div *ngIf="mdpTemp">
  Mot de passe à fournir au nouvel utilisateur:
  <button
    type="submit"
    [appTooltip]="'Password copié!'"
    class="hover:underline hover:italic"
    (click)="copyToClipboard(mdpTemp)"
    title="Cliquez ici pour copier"
  >
    {{ mdpTemp }}
  </button>
</div>
