<form class="flex flex-wrap" (ngSubmit)="handleMemberAdd()">
  <div class="formFields w-full flex justify-between">
    <label class="items-center" for="username_input"
      >Nom de l'utilisateur à ajouter:&nbsp;</label
    >
    <input
      id="username_input"
      type="text"
      name="username"
      placeholder="Nom d'utilisateur"
      [(ngModel)]="username"
    />
  </div>
  <div class="formFields w-full flex justify-between">
    <label class="items-center" for="role_select"
      >Le rôle à attribuer:&nbsp;</label
    >
    <select name="role" id="role_select" [(ngModel)]="role">
      <option value="admin">Admin</option>
      <option value="membre">Membre</option>
    </select>
  </div>
  <div class="w-full">
    <button class="styleIt justify-end" type="submit">Ajouter</button>
  </div>
</form>
<div *ngIf="mdpTemp">
  Mot de passe à fournir au nouvel utilisateur:
  <button
    type="submit"
    [appTooltip]="'Mot de passe copié!'"
    class="hover:underline hover:italic"
    (click)="copyToClipboard(mdpTemp)"
    title="Cliquez ici pour copier"
  >
    {{ mdpTemp }}
  </button>
  <button class="styleIt" (click)="reload()">Terminé!</button>
</div>
