
.tooltip {
  position: absolute;
  background-color: rgba(1, 80,126,0.5);
  border: solid black 1px;
  color: #adc8d3;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none; /* Prevent the tooltip from interfering with mouse events */
  z-index: 5;
}

button.styleIt {
  border: solid #adc8d3 1px;
  width: 100px;
  height: 30px;
  color: #adc8d3;
  border-radius: 4px;
}

input {
  width: 250px;
  height: 25px;
  background-color: rgba(1, 80,126,0.5);
  border: solid #adc8d3 1px;
  border-radius: 2px;
  padding-left: 8px;
}
select {
  width: 250px;
  height: 25px;
  background-color: rgba(1, 80,126,0.5);
  border: solid #adc8d3 1px;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

form {
  width: 450px;
}

div.formFields {
  margin-bottom: 8px;
}
