<app-add-user
  *ngIf="showUpdateMembers"
  [organizationId]="organizationId"
  (reloadDisplay)="reload()"
></app-add-user>
<p class="px-4">Liste de joueurs dans l'organisation</p>
<mat-progress-bar *ngIf="!members" mode="indeterminate"></mat-progress-bar>
<div *ngIf="members">
  <table class="w-full mx-4">
    <thead class="w-full">
      <th class="w-1/4 text-center py-2">Pseudo</th>
      <th class="w-1/4 text-center py-2">Hangar</th>
      <th class="w-1/4 text-center py-2">Role</th>
      <th class="w-1/4 text-center py-2">Supprimer</th>
    </thead>
    <tr *ngFor="let member of members" class="w-full">
      <td class="w-1/4 text-center py-2">{{ member.username }}</td>
      <td class="w-1/4 text-center py-2">
        <button
          class="hover:underline"
          (click)="toggleHangarOnClick(member.id)"
        >
          Ouvrir
        </button>
      </td>
      <td class="w-1/4 text-center py-2">{{ member.roles[0] | titlecase }}</td>
      <td class="w-1/4 text-center py-2">
        <button
          class="hover:underline"
          (click)="handleConfirmRemove(member.id, member.username)"
        >
          Supprimer
        </button>
      </td>
    </tr>
  </table>
  <app-member-hangar-display
    *ngIf="showHangar"
    [userId]="memberId"
    (toggleHangarDisplay)="toggleHangarOnClick()"
  ></app-member-hangar-display>
  <app-confirm-delete
    *ngIf="showConfirmRemove"
    [username]="username"
    (removingValidated)="handleMemberRemove($event)"
  ></app-confirm-delete>
</div>
