<mat-progress-bar *ngIf="!members" mode="indeterminate"></mat-progress-bar>

<div *ngIf="members">
  <div *ngIf="showUpdateMembers">
    <app-add-user
      [organizationId]="organizationId"
      (reloadDisplay)="reload()"
    ></app-add-user>
  </div>
  <ul>
    <li *ngFor="let member of members">
      <div class="inline-flex">
        {{ member.username }}
        <div *ngIf="userId !== member.id">
          <button class="underline hover:italic">Flotte</button>
          <button (click)="handleMemberRemove(member.id)">Supprimer</button>
        </div>
      </div>
    </li>
  </ul>
</div>
