@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.background-image {
  background-image: url('../assets/images/hangar.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
}

.background-blur {
  height: 100%;
  width: 100%;
  // overflow: hidden;
  position: fixed;
  background-color: rgba(3, 0, 22, 0.5);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 2;
}

.content {
  position: absolute;
  // height: 100%;
  width: 100%;
  left: 0px;
  top: 0;
  z-index: 10;
}

.page-content {
  margin: 50px auto;
  max-width: 1140px;
  width: auto;
}

@media screen and (max-width: 768px) {
  .page-content {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 1022px) {
  .page-content {
    max-width: 700px;
    width: auto;
  }
}
