<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Bienvenue sur le seul gestionnaire de flottes dont vous aurez besoin!"
    />
    <title>Accueil</title>
  </head>
  <body>
    <div class="background-image"></div>
    <div class="background-blur"></div>
    <main class="content">
      <header>
        <app-navbar></app-navbar>
      </header>
      <div class="footer-fixer">
        <div class="page-content">
          <router-outlet></router-outlet>
        </div>
        <footer>
          <app-footer></app-footer>
        </footer>
      </div>
    </main>
  </body>
</html>
