<h2 class="px-4 w-full">Panneau d'Administration</h2>
<!-- <hr class="my-2" /> -->
<div *ngIf="show" class="my-2 px-4 flex flex-wrap">
  <button
    *ngIf="currentView !== 'ships'"
    class="mr-2 my-2"
    (click)="navigateToShips()"
  >
    Vaisseaux
  </button>

  <button
    *ngIf="currentView !== 'members'"
    class="mr-2 my-2"
    (click)="navigateToMembers()"
  >
    Membres
  </button>

  <button
    *ngIf="currentView !== 'overview' && currentView !== 'members'"
    class="bigButton my-2"
    (click)="navigateToOverview()"
  >
    Flotte de l'organisation
  </button>

  <button
    *ngIf="currentView === 'members' && !showUpdateMembers"
    class="bigButton mr-2 my-2"
    (click)="updateMembers()"
  >
    Ajouter un utilisateur
  </button>

  <button
    *ngIf="currentView === 'members' && showUpdateMembers"
    class="bigButton mr-2 my-2"
    (click)="updateMembers()"
  >
    Annuler
  </button>
</div>

<div
  *ngIf="(!ships || !fleet) && currentView === 'overview'"
  class="w-full flex items-center justify-center mt-4 md:mt-8"
>
  <div class="loading-spinner"></div>
</div>

<div *ngIf="currentView === 'members'">
  <app-display-members
    [showUpdateMembers]="showUpdateMembers"
    [organizationId]="organizationId"
    [userId]="userId"
    (updateMembersAfterAdd)="updateMembers()"
  ></app-display-members>
</div>
