<div class="w-full">
  <h2 *ngIf="currentView === 'organization'">Organisation</h2>
  <h2 *ngIf="currentView === 'members'">Membres de l'organisation</h2>
</div>

<div
  *ngIf="(!ships || !fleet) && currentView === 'overview'"
  class="w-full flex items-center justify-center mt-4 md:mt-8"
>
  <div class="loading-spinner"></div>
</div>

<!-- <div *ngIf="currentView === 'members'"> -->
<app-display-members
  *ngIf="currentView === 'members'"
  [organizationId]="organizationId"
  [userId]="userId"
  [isLeader]="isLeader"
></app-display-members>
<!-- </div> -->
