<h2 class="text-lg text-teal-100">C'est votre première connexion!</h2>
<form [formGroup]="newPasswordForm" (submit)="handlePasswordChange()">
  <div class="flex flex-wrap">
    <div class="form-field w-full flex flex-wrap md:justify-between">
      <label class="text-base" for="newPassword"
        >Nouveau mot de passe:&nbsp;</label
      >
      <input
        type="password"
        id="newPassword"
        placeholder="********"
        formControlName="newPassword"
      />
    </div>
    <div class="form-field w-full flex flex-wrap md:justify-between mt-2">
      <label class="text-base" for="confirmPassword"
        >Confirmation du mot de passe:&nbsp;</label
      >
      <input
        type="password"
        id="confirmPassword"
        placeholder="********"
        formControlName="confirmPassword"
      />
    </div>
  </div>
  <div
    *ngIf="changingPassword"
    class="spinner-container flex justify-center items-center mr-2 mt-4"
  >
    <div class="loading-spinner"></div>
  </div>
  <button
    class="mt-4"
    *ngIf="!changingPassword"
    type="button"
    (click)="handlePasswordChange()"
  >
    Valider
  </button>
</form>
<div *ngIf="message">{{ message }}</div>
