h2 {
  margin-top: 14px;
  font-size: 2em;
  color: #b1fffb;
  text-shadow: 0 0 7px #b1fffb, 0 0 21px #b1fffb, 0 0 82px #3ec9e1, 0 0 102px #3ec9e1;
  margin-bottom: 0;
}

button {
  border: solid #adc8d3 1px;
  width: 105px;
  height: 30px;
  color: #adc8d3;
  border-radius: 4px;
}

button:hover {
  background-color: rgba(1, 37, 57, 1);
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 1.4em;
  }
}
