<div *ngIf="show">
  <div class="withBorder flex flex-wrap mt-6 sm:mt-3.5 items-center">
    <h2 *ngIf="currentView !== 'overview' || !isAdmin" class="pl-4">
      Ma flotte
    </h2>
    <h2 *ngIf="currentView === 'overview' && isAdmin" class="pl-4">
      Flotte de l'organisation
    </h2>
    <div class="flex justify-around sm:justify-start pl-4">
      <button
        (click)="navigateToShips()"
        *ngIf="currentView !== 'ships'"
        title="Vaisseaux"
        class="mr-2"
      >
        Vaisseaux
      </button>
      <button
        (click)="navigateToSynthesis()"
        *ngIf="currentView !== 'synthesis'"
        title="Synthèse"
      >
        Synthèse
      </button>
    </div>
  </div>

  <!-- <hr class="my-2" /> -->
  <div
    *ngIf="!fleetEmpty"
    class="mt-4 mx-4 flex justify-center sm:justify-start"
  ></div>
</div>

<app-display-ships
  *ngIf="currentView === 'ships'"
  [userId]="userId"
  [isAdmin]="isAdmin"
  [reloadShipsDisplay]="reloadShipsDisplay"
  [ships]="ships"
  [fleetEmpty]="fleetEmpty"
  (getFleetData)="emit()"
></app-display-ships>

<app-ship-synthesis
  *ngIf="currentView === 'synthesis'"
  [ships]="ships"
  [fleetEmpty]="fleetEmpty"
  (getFleetData)="emit()"
></app-ship-synthesis>

<app-overview
  [orgId]="orgId"
  *ngIf="currentView === 'overview' && isAdmin"
></app-overview>
