section {
  background-color: rgba(2,59,92,0.8);
  max-width: 570px;
  margin: 10% auto;
  border: solid black 1px;
}

h2 {
  font-size: 1.6em;
  text-align: center;
  color: #b1fffb;
  text-shadow: 0 0 7px #b1fffb, 0 0 21px #b1fffb, 0 0 82px #3ec9e1, 0 0 102px #3ec9e1;
  margin-bottom: 0;
}

input {
  width: calc(100% - 80px);
  height: 35px;
  background-color: rgba(1, 80,126,0.5);
  border: solid #adc8d3 1px;
  border-radius: 2px;
}

::placeholder {
  text-align: center;
}

.style {
  border: solid #adc8d3 1px;
  width: 200px;
  height: 50px;
  color: #adc8d3;
  border-radius: 4px;
}

.style:hover {
  background-color: rgba(1, 37, 57, 1);
}

.no-style {
  border: none
}
.no-style:hover {
  border: none;
  background-color: none;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid #adc8d3;
  border-bottom: 5px solid #adc8d3;
  animation: spin 1s linear infinite, pulse 1s linear infinite
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}

@media screen and (max-width: 620px) {
  section {
    width: 80%;
    text-align: center;
  }

  input {
  min-width: 150px;
  }

  .style {
    width: calc(100% - 80px);
    min-width: 150px;
    height: 35px;
  }
}
