<div
  *ngIf="isFetchingOrgData"
  class="w-full flex items-center justify-center mt-4 md:mt-8"
>
  <div class="loading-spinner"></div>
</div>

<p *ngIf="!isFetchingOrgData && errorWhileRecoveringData">
  Une erreur est survenue lors de la récupération des données, réessayez plus
  tard.
</p>

<div *ngIf="!isFetchingOrgData" class="mt-4 sm:mt-8">
  <p class="px-4 pb-4 text-red-300">
    Cette page est toujours en construction, plus de fonctionnalités arriveront
    bientôt!
  </p>
  <h3 class="text-xl text-teal-100">Organisation principale</h3>
  <img src="{{ orgData.banner }}" alt="Bannière" />
  <div class="flex flex-wrap md:flex-nowrap">
    <img class="logo" src="{{ orgData.logo }}" alt="Logo" />
    <h4>{{ orgData.name }}&nbsp;[&nbsp;{{ orgData.sid }}&nbsp;]</h4>
  </div>

  <p>Archetype: {{ orgData.archetype }}</p>
  <p>Activités: {{ orgData.focus }}</p>
  <p>Langue: {{ orgData.language }}</p>
  <p>Membres: {{ orgData.members }}</p>
</div>
