.nav-container {
  width: 100%;
}

button {
  border: solid #adc8d3 1px;
  width: 180px;
  height: 40px;
  color: #adc8d3;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

button:hover {
  background-color: rgba(45, 94, 123, 0.5);
}

button.notAvailable:hover {
  background-color: rgb(52, 7, 7)
}

.active {
  background-color: rgba(1, 80,126,0.5);
}
