/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: rgb(241, 251, 255);}

div.mat-expansion-panel-body {
  padding: 0 !important;
  border-top: solid black 1px;
}

.mat-icon {
  vertical-align: bottom;
}
