<!-- BUG Doesn't work at all as expected -->
<!-- <div>
  <app-display-ships-filter-bar>
    [ships]="ships" (actualizedShips)="actualizeShips($event)"
    ></app-display-ships-filter-bar
  >
</div> -->

<div *ngIf="fleetEmpty || types.length === 0" class="pt-4">
  <p class="text-base text-center sm:text-left px-4">
    Aucun vaisseau à afficher pour l'instant, si vous pensez que c'est une
    erreur, contactez le support!
  </p>
</div>

<div
  *ngIf="!fleetEmpty && show && types.length > 0"
  class="table-content p-0 pt-4 md:p-4"
>
  <table class="w-full">
    <mat-accordion>
      <mat-card class="border-black mb-2 sticky-thead">
        <thead class="w-full h-8 flex justify-between items-center">
          <th class="thCard w-2/6 ml-6 text-left">Type</th>
          <th class="thCard w-1/6">Quantité</th>
          <th class="thCard w-1/6">Cargo Max</th>
          <th class="thCard w-1/6">Crew Max</th>
          <th class="thCard w-1/6 mr-2">Flight Ready</th>
          <mat-icon class="reload-icon mr-5">
            <button (click)="reloadPage()">autorenew</button>
          </mat-icon>
        </thead>
      </mat-card>
      <mat-expansion-panel class="" *ngFor="let typeItem of types">
        <mat-expansion-panel-header class="border-black pr-4">
          <thead class="w-full flex justify-between">
            <th class="w-2/6 text-left">{{ typeItem.type | titlecase }}</th>
            <th class="w-1/6">{{ typeItem.ships.length }}</th>
            <th class="w-1/6">{{ typeItem.cargoMax }}</th>
            <th class="w-1/6">{{ typeItem.crewMax }}</th>
            <th class="w-1/6 mr-4">
              {{ typeItem.flightReady }} / {{ typeItem.ships.length }}
            </th>
          </thead>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let ship of typeItem.ships">
          <tr class="w-full flex justify-between pl-7">
            <td class="w-2/6 text-left py-2">
              {{ ship.name }}
            </td>
            <td class="w-1/6 text-center py-2">
              {{ typeItem.shipCount }}
            </td>
            <td class="w-1/6 text-center py-2">
              {{ ship.cargo_capacity }}
            </td>
            <td class="w-1/6 text-center py-2">
              {{ ship.max_crew }}
            </td>
            <td
              *ngIf="ship.production_status === 'flight-ready'"
              class="text-green-300 w-1/6 mr-2 text-center py-2"
            >
              Oui
            </td>
            <td
              *ngIf="ship.production_status !== 'flight-ready'"
              class="text-red-300 w-1/6 mr-2 text-center py-2"
            >
              Non
            </td>
            <mat-icon class="mr-5 py-1" *ngIf="!fromAdmin">
              <button (click)="toggleShipRemovePopup(ship.id, ship.name)">
                delete-forever
              </button>
            </mat-icon>
            <span *ngIf="fromAdmin" class="mr-10"></span>
          </tr>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </table>
</div>

<app-confirm-delete
  class="relative z-30"
  *ngIf="showConfirmRemove"
  [shipName]="shipToRemoveName"
  (removingValidated)="handleShipRemove($event)"
></app-confirm-delete>
