.thCard {
  color: #b1fffb;
  text-shadow: 0 0 7px rgba(177, 255, 251, 0.5), 0 0 21px rgba(177, 255, 251, 0.5), 0 0 82px rgba(62, 200, 225, 0.5), 0 0 102px rgba(62, 200, 225, 0.5);
}

th {
  color: #b1fffb;
  text-shadow: none;
}

mat-expansion-panel {
  color: #b1fffb;
  border: solid black 1px;
  background-color: rgba(2,59,92,0.8);
}

.reload-icon {
  color: #b1fffb;
  text-shadow: 0 0 7px rgba(177, 255, 251, 0.2), 0 0 21px rgba(177, 255, 251, 0.2);
  border-radius: 2px;
}

.sticky-thead {
  background-color: rgb(2,59,92);
  border: solid black 1px;
  position: sticky;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 770px) {
  .table-content{
      overflow-x: auto;
      font-size: 1em;
  }

  th, td {
    width: 100px;
  }
}
