<div class="content">
  <nav class="nav-container flex justify-end mb-4 mt-2 text-sm text-teal-100">
    <button
      [ngClass]="{ active: currentView === 'ships' }"
      class="mx-1"
      (click)="navigateToShips()"
    >
      Vaisseaux
    </button>
    <button
      [ngClass]="{ active: currentView === 'synthesis' }"
      class="mx-1"
      (click)="navigateToSynthesis()"
    >
      Synthèse</button
    ><button
      class="mx-1 notAvailable"
      matTooltip="Coming Soon"
      matTooltipPosition="below"
    >
      Whishlist</button
    ><span *ngIf="isAdmin"
      ><button
        [ngClass]="{ active: currentView === 'organization' }"
        class="mx-1"
        (click)="navigateToOrganization()"
      >
        Organisation</button
      ><button
        [ngClass]="{ active: currentView === 'members' }"
        class="mx-1"
        (click)="navigateToMembers()"
      >
        Membres</button
      ><button
        [ngClass]="{ active: currentView === 'overview' }"
        class="bigButton mx-1"
        (click)="navigateToOverview()"
      >
        Flotte de l'organisation
      </button></span
    ><button (click)="disconnect()" class="mx-1 notAvailable">
      Déconnexion
    </button>
  </nav>
</div>
